In [4]:
import numpy as np
import pandas as pd

In [ ]:
print("ok")

In [1]:
from run import main

donor_positive, donor_negative, acceptor_positive, acceptor_negative = main()

2022-01-30 01:21:06.134 | SUCCESS  | run:main:14 - Data loaded
2022-01-30 01:21:06.146 | SUCCESS  | run:main:25 - Data is valid
2022-01-30 01:21:06.147 | SUCCESS  | run:main:26 - Summary
len(donor_positive_only)=1116
len(donor_negative_only)=4140
len(acceptor_positive_only)=1116
len(acceptor_negative_only)=4672

In [5]:
len(donor_negative)

4140

In [25]:
# get training and test set
TRAINING_SET_SIZE = 75
x = donor_negative[:4]
print(f"X Przed: {x}")
np.random.shuffle(x)
print(f"X po {x}")

X Przed: ['ACTTAGAGTTATAAT' 'GGGCGGGGTGGGGCA' 'TGTCTTGGTAGTTAC' 'CATGGGTGTGCTGGG']
X po ['CATGGGTGTGCTGGG' 'GGGCGGGGTGGGGCA' 'ACTTAGAGTTATAAT' 'TGTCTTGGTAGTTAC']

In [7]:
from sklearn.model_selection import ShuffleSplit
import numpy as np
X = np.array([[100, 101], [102, 103]])
y = np.array([1, 2, 3, 4])
rs = ShuffleSplit(n_splits=5, test_size=.25, random_state=0)
rs.get_n_splits(5)
for train_index, test_index in rs.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)

TRAIN: [0] TEST: [1]
TRAIN: [1] TEST: [0]
TRAIN: [1] TEST: [0]
TRAIN: [0] TEST: [1]
TRAIN: [1] TEST: [0]

In [6]:
y = donor_negative
x = np.ones((len(y), 1))
np.shape(y)
np.shape(x)
# result = list()
# for el in y:
#     el_str = str(el)
#     el_str = f"{el_str}1"
#     result.append(el_str)
result = [f"{str(dna_sequence)}1" for dna_sequence in y]
print(result[:2])
result = np.array(result)
print(result[:2])
print(type(result))

['AGATGCCGTCGGGCT1', 'GGCACGGGTCCCGCT1']
['AGATGCCGTCGGGCT1' 'GGCACGGGTCCCGCT1']
<class 'numpy.ndarray'>

In [7]:
result2 = result
result3 = np.concatenate((result2, result))
print(np.shape(result))
print(np.shape(result3))

print(np.shape(result)[0])

(4140,)
(8280,)
4140

In [84]:
x = np.array([1, 2, 3, 4, 5, 6])
np.random.shuffle(x)
print(x)

[2 1 6 3 5 4]

In [93]:
TRAINING_SET_SIZE = .75
x = np.array([1,2,3,4,5,6,7,8,9,10]*100)

y = x[:int(TRAINING_SET_SIZE*len(x)) -1]
z = x[int(TRAINING_SET_SIZE*len(x)):]

In [95]:
print(np.shape(x))
print(np.shape(y))
print(np.shape(z))
print(type(z))

(1000,)
(749,)
(250,)
<class 'numpy.ndarray'>

In [2]:
from src.miscellaneous.data_loader import split_to_training_and_test

training, test = split_to_training_and_test(donor_positive, donor_negative)

2022-01-30 01:21:13.331 | ERROR    | __main__:<module>:3 - An error has been caught in function '<module>', process 'MainProcess' (12216), thread 'MainThread' (10376):
Traceback (most recent call last):

  File "C:\Python310\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
           │         │     └ {'__name__': '__main__', '__doc__': 'Entry point for launching an IPython kernel.\n\nThis is separate from the ipykernel pack...
           │         └ <code object <module> at 0x000001A52DDC6AD0, file "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel_launc...
           └ <function _run_code at 0x000001A52DDCA5F0>

  File "C:\Python310\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
         │     └ {'__name__': '__main__', '__doc__': 'Entry point for launching an IPython kernel.\n\nThis is separate from the ipykernel pack...
         └ <code object <module> at 0x000001A52DDC6AD0, file "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel_launc...

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
    │   └ <bound method Application.launch_instance of <class 'ipykernel.kernelapp.IPKernelApp'>>
    └ <module 'ipykernel.kernelapp' from 'c:\\Users\\natan\\Desktop\\UMA_Projekt\\.venv\\lib\\site-packages\\ipykernel\\kernelapp.py'>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
    │   └ <function IPKernelApp.start at 0x000001A53257E290>
    └ <ipykernel.kernelapp.IPKernelApp object at 0x000001A52DD687C0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
    │    │       └ <function BaseAsyncIOLoop.start at 0x000001A5306FA4D0>
    │    └ <tornado.platform.asyncio.AsyncIOMainLoop object at 0x000001A5325AC730>
    └ <ipykernel.kernelapp.IPKernelApp object at 0x000001A52DD687C0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
    │    │            └ <function BaseEventLoop.run_forever at 0x000001A52FEBD360>
    │    └ <_WindowsSelectorEventLoop running=True closed=False debug=False>
    └ <tornado.platform.asyncio.AsyncIOMainLoop object at 0x000001A5325AC730>

  File "C:\Python310\lib\asyncio\base_events.py", line 595, in run_forever
    self._run_once()
    │    └ <function BaseEventLoop._run_once at 0x000001A52FEBEE60>
    └ <_WindowsSelectorEventLoop running=True closed=False debug=False>

  File "C:\Python310\lib\asyncio\base_events.py", line 1881, in _run_once
    handle._run()
    │      └ <function Handle._run at 0x000001A52E6A68C0>
    └ <Handle Task.task_wakeup(<Future finis...5E0>, ...],))>)>

  File "C:\Python310\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
    │    │            │    │           │    └ <member '_args' of 'Handle' objects>
    │    │            │    │           └ <Handle Task.task_wakeup(<Future finis...5E0>, ...],))>)>
    │    │            │    └ <member '_callback' of 'Handle' objects>
    │    │            └ <Handle Task.task_wakeup(<Future finis...5E0>, ...],))>)>
    │    └ <member '_context' of 'Handle' objects>
    └ <Handle Task.task_wakeup(<Future finis...5E0>, ...],))>)>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel\kernelbase.py", line 461, in dispatch_queue
    await self.process_one()
          │    └ <function Kernel.process_one at 0x000001A531E66710>
          └ <ipykernel.ipkernel.IPythonKernel object at 0x000001A5325AE800>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel\kernelbase.py", line 450, in process_one
    await dispatch(*args)
          │         └ ([<zmq.sugar.frame.Frame object at 0x000001A532055010>, <zmq.sugar.frame.Frame object at 0x000001A532662980>, <zmq.sugar.fram...
          └ <bound method Kernel.dispatch_shell of <ipykernel.ipkernel.IPythonKernel object at 0x000001A5325AE800>>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel\kernelbase.py", line 357, in dispatch_shell
    await result
          └ <coroutine object Kernel.execute_request at 0x000001A5326027A0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel\kernelbase.py", line 652, in execute_request
    reply_content = await reply_content
                          └ <coroutine object IPythonKernel.do_execute at 0x000001A5326021F0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
          │     │        │                   │                     └ False
          │     │        │                   └ True
          │     │        └ 'from src.miscellaneous.data_loader import split_to_training_and_test\n\ntraining, test = split_to_training_and_test(donor_po...
          │     └ <function ZMQInteractiveShell.run_cell at 0x000001A531E72320>
          └ <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001A5325AE8C0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\ipykernel\zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
                             │       └ {'store_history': True, 'silent': False}
                             └ ('from src.miscellaneous.data_loader import split_to_training_and_test\n\ntraining, test = split_to_training_and_test(donor_p...

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\IPython\core\interactiveshell.py", line 2768, in run_cell
    result = self._run_cell(
             │    └ <function InteractiveShell._run_cell at 0x000001A530CACB80>
             └ <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001A5325AE8C0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\IPython\core\interactiveshell.py", line 2814, in _run_cell
    return runner(coro)
           │      └ <coroutine object InteractiveShell.run_cell_async at 0x000001A532602C00>
           └ <function _pseudo_sync_runner at 0x000001A530CA4790>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
    │    └ <method 'send' of 'coroutine' objects>
    └ <coroutine object InteractiveShell.run_cell_async at 0x000001A532602C00>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\IPython\core\interactiveshell.py", line 3012, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
                       │    │             │        │     └ 'C:\\Users\\natan\\AppData\\Local\\Temp\\ipykernel_12216\\2891781727.py'
                       │    │             │        └ [<ast.ImportFrom object at 0x000001A53267CD00>, <ast.Assign object at 0x000001A53267EEC0>]
                       │    │             └ <ast.Module object at 0x000001A53267E9E0>
                       │    └ <function InteractiveShell.run_ast_nodes at 0x000001A530CACE50>
                       └ <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001A5325AE8C0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\IPython\core\interactiveshell.py", line 3191, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
             │    │        │     │              └ False
             │    │        │     └ <ExecutionResult object at 1a53267e2c0, execution_count=2 error_before_exec=None error_in_exec=None info=<ExecutionInfo objec...
             │    │        └ <code object <module> at 0x000001A53A833730, file "C:\Users\natan\AppData\Local\Temp\ipykernel_12216\2891781727.py", line 1>
             │    └ <function InteractiveShell.run_code at 0x000001A530CACEE0>
             └ <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001A5325AE8C0>

  File "c:\Users\natan\Desktop\UMA_Projekt\.venv\lib\site-packages\IPython\core\interactiveshell.py", line 3251, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
         │         │    │               │    └ {'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, ...
         │         │    │               └ <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001A5325AE8C0>
         │         │    └ <property object at 0x000001A530C93740>
         │         └ <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001A5325AE8C0>
         └ <code object <module> at 0x000001A53A833730, file "C:\Users\natan\AppData\Local\Temp\ipykernel_12216\2891781727.py", line 1>

> File "C:\Users\natan\AppData\Local\Temp\ipykernel_12216\2891781727.py", line 3, in <module>
    training, test = split_to_training_and_test(donor_positive, donor_negative)
                     │                          │               └ array(['AGATGCCGTCGGGCT', 'GGCACGGGTCCCGCT', 'CCCTGCAGTTTGGGT', ...,
                     │                          │                        'GAGCAGCGTGCAGGA', 'TGCAGGAGTCCCAGG', 'GTCCCAGGTG...
                     │                          └ array(['CTCCGAAGTAGGATT', 'TCAGAAGGTGAGGGC', 'TTGGAAGGTTCGCAG', ...,
                     │                                   'CCTGCTGGTACGTGG', 'TCTGCCCGTAAGCAC', 'AGGCCAGGTA...
                     └ <function split_to_training_and_test at 0x000001A53A82A710>

  File "c:\Users\natan\Desktop\UMA_Projekt\src\miscellaneous\data_loader.py", line 64, in split_to_training_and_test
    negative_size = int(np.shape(negative_data_with_labels[0]))
                        │  │     └ array(['AGATGCCGTCGGGCT0', 'GGCACGGGTCCCGCT0', 'CCCTGCAGTTTGGGT0', ...,
                        │  │              'GAGCAGCGTGCAGGA0', 'TGCAGGAGTCCCAGG0', 'GTCCC...
                        │  └ <function shape at 0x000001A53880A8C0>
                        └ <module 'numpy' from 'c:\\Users\\natan\\Desktop\\UMA_Projekt\\.venv\\lib\\site-packages\\numpy\\__init__.py'>

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

TypeError: cannot unpack non-iterable NoneType object

In [35]:
import numpy as np
import pandas as pd

numpy_data = np.array([[1, 2], [3, 4]])
columns = map(int, range(10))
columns = list(columns)
columns.append("zz")
type(columns)
print(columns)

#df = pd.DataFrame(data=numpy_data, columns=columns)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'zz']

In [30]:
df

   0  1
0  1  2
1  3  4

In [ ]:
from run import main
donor_training_set, donor_test_set, acceptor_training_set, acceptor_test_set = main()

In [67]:
# split arrayow na NxM tablice z rozbitymi stringami
# str, lista, array

result = list()
for str_seq in donor_training_set:
    str_lst = list(str_seq)
    result.append(str_lst)
result = np.array(result)

columns = map(int, range(len(str_seq) - 1))
columns = list(columns)
columns.append("label")

result = pd.DataFrame(data=result, columns=columns)
result

      0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 label
0     T  C  A  T  G  C  T  G  T  G  T  G  C  T  G     0
1     A  G  A  G  C  G  G  G  T  G  A  G  T  G  G     1
2     G  A  A  A  T  A  T  G  T  C  C  G  C  A  G     0
3     T  G  T  A  A  G  T  G  T  T  C  T  T  C  T     0
4     G  G  A  A  G  A  G  G  T  G  G  G  T  G  C     1
...  .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..   ...
3936  C  A  C  C  A  G  G  G  T  A  G  G  T  C  A     1
3937  G  G  T  A  A  A  A  G  T  T  G  A  C  A  A     0
3938  T  G  T  A  T  G  T  G  T  G  G  A  G  C  A     0
3939  C  A  G  G  T  G  A  G  T  T  G  C  T  T  G     0
3940  A  C  G  G  T  C  A  G  T  G  A  A  T  A  A     0

[3941 rows x 16 columns]

In [39]:
# donor 15 + label
# acceptor 90 + label
columns = map(int, range(15))
columns = list(columns)
columns.append("label")


donor_training_set_pd = pd.DataFrame(data=donor_training_set)
donor_training_set_pd

                     0
0     TCATGCTGTGTGCTG0
1     AGAGCGGGTGAGTGG1
2     GAAATATGTCCGCAG0
3     TGTAAGTGTTCTTCT0
4     GGAAGAGGTGGGTGC1
...                ...
3936  CACCAGGGTAGGTCA1
3937  GGTAAAAGTTGACAA0
3938  TGTATGTGTGGAGCA0
3939  CAGGTGAGTTGCTTG0
3940  ACGGTCAGTGAATAA0

[3941 rows x 1 columns]

In [56]:
# proba splitu
x = np.array(x)
x
# x = np.split(x, len(x))
# x = pd.DataFrame(data=x)
# x

array(['a', 's', 'd'], dtype='<U1')

In [55]:
x = np.str_("asd")
x = list(x)
x

['a', 's', 'd']

Implementacja

In [1]:
from run import get_sets
donor_training_set, donor_test_set, acceptor_training_set, acceptor_test_set, donor_artifact, acceptor_artifact = get_sets()

2022-01-30 03:08:44.658 | SUCCESS  | run:get_sets:13 - Data loaded
2022-01-30 03:08:44.672 | SUCCESS  | run:get_sets:24 - Data is valid
2022-01-30 03:08:44.673 | SUCCESS  | run:get_sets:25 - Raw data summary:
len(donor_positive_only)=1116
len(donor_negative_only)=4140
len(acceptor_positive_only)=1116
len(acceptor_negative_only)=4672
2022-01-30 03:08:44.705 | SUCCESS  | run:get_sets:32 - Data have been prepared. Summary
len(donor_training_set)=3941
len(donor_test_set)=1314
len(acceptor_training_set)=4340
len(acceptor_test_set)=1447

szukamy roota, zbior wartosci: A, C, G, T
wez indeks 0
jesli ind0 to A: ile 0, ile 1
            to C: ile 0, ile 1 itd.

x[0][2] [colon][row]

In [46]:
a_score, c_score, g_score, t_score = [{"true": 0, "false": 0}]*4
options = ["A", "C", "G", "T"]
x = donor_training_set
results = list()
# x[1][2]
# iteruj po rzedach
# for index, row in x.iterrows():
#     print(row)
for column_index in x:
    column_results = {
    "A": {
        "true": 0,
        "false": 0
    },
    "C": {
        "true": 0,
        "false": 0
    }
    ,
    "G": {
        "true": 0,
        "false": 0
    }
    ,
    "T": {
        "true": 0,
        "false": 0
    }
}
    for row in x[column_index]:
        # row jest kolejnymi literkami w kolumnie
        for option in options:
            if row == option:
                if 
                
                break

SyntaxError: can't use starred expression here (4088791393.py, line 3)

In [48]:
results = {
    "A": {
        "true": 0,
        "false": 0
    },
    "C": {
        "true": 0,
        "false": 0
    }
    ,
    "G": {
        "true": 0,
        "false": 0
    }
    ,
    "T": {
        "true": 0,
        "false": 0
    }
}

In [51]:
x

      0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 label
0     A  G  T  A  C  C  G  G  T  G  C  C  C  A  T     0
1     C  A  G  C  C  T  G  G  T  G  T  G  C  T  T     0
2     C  A  T  A  A  A  G  G  T  A  A  A  T  C  A     1
3     A  G  C  T  G  G  T  G  T  G  G  G  A  G  G     0
4     A  A  T  T  T  C  T  G  T  T  T  T  A  A  T     0
...  .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..   ...
3936  G  A  G  G  A  A  G  G  T  A  C  T  T  A  A     1
3937  T  T  C  T  C  T  T  G  T  T  T  G  G  C  T     0
3938  A  G  T  G  T  G  G  G  T  G  G  C  T  G  C     0
3939  C  C  C  A  G  G  G  G  T  G  T  C  C  A  G     0
3940  G  T  T  C  C  C  A  G  T  T  T  T  T  C  A     0

[3941 rows x 16 columns]

In [56]:
# za duzo mocy potrzeba - rozbij na mniejsze. liczenie dla jednej kolumny
row_index = 0
row = x[row_index]
a_score, c_score, g_score, t_score = [0]*4
# letter_options = ["A", "C", "G", "T"]
for letter in row:
    if letter == "A":
        if x["label"][]
    if letter == "C":
        pass
    if letter == "G":
        pass
    if letter == "T":
        pass

In [83]:
# zaczyna miec to sens

labels = x["label"]
for column_index in x:
    column_data = x[column_index]
    a_score, c_score, g_score, t_score = check_letters_and_labels(column_data, labels)
    print(f"{column_index=}{a_score=}{c_score=}{g_score=}{t_score=}")

column_index=0a_score=[197, 687]c_score=[214, 802]g_score=[249, 928]t_score=[167, 697]
column_index=1a_score=[237, 743]c_score=[182, 714]g_score=[215, 1012]t_score=[193, 645]
column_index=2a_score=[236, 683]c_score=[209, 632]g_score=[194, 993]t_score=[188, 806]
column_index=3a_score=[246, 609]c_score=[253, 715]g_score=[187, 1161]t_score=[141, 629]
column_index=4a_score=[277, 665]c_score=[285, 646]g_score=[154, 833]t_score=[111, 970]
column_index=5a_score=[492, 801]c_score=[109, 700]g_score=[115, 1032]t_score=[111, 581]
column_index=6a_score=[80, 909]c_score=[31, 305]g_score=[655, 910]t_score=[61, 990]
column_index=7a_score=[0, 0]c_score=[0, 0]g_score=[827, 3114]t_score=[0, 0]
column_index=8a_score=[0, 0]c_score=[0, 0]g_score=[0, 0]t_score=[827, 3114]
column_index=9a_score=[425, 443]c_score=[21, 746]g_score=[366, 1274]t_score=[15, 651]
column_index=10a_score=[594, 626]c_score=[61, 816]g_score=[97, 851]t_score=[75, 821]
column_index=11a_score=[48, 699]c_score=[43, 827]g_score=[697, 831]t_score=[39, 757]
column_index=12a_score=[139, 681]c_score=[148, 759]g_score=[167, 918]t_score=[373, 756]
column_index=13a_score=[215, 703]c_score=[169, 711]g_score=[290, 1037]t_score=[153, 663]
column_index=14a_score=[166, 694]c_score=[223, 721]g_score=[239, 896]t_score=[199, 803]
column_index='label'a_score=[0, 0]c_score=[0, 0]g_score=[0, 0]t_score=[0, 0]

In [82]:
def check_letters_and_labels(column_data, labels):
    # [true_amount, false_amount]
    a_score = [0,0]
    c_score = [0,0]
    g_score = [0,0]
    t_score = [0,0]
    for row_index, letter in enumerate(column_data):
        if letter == "A":
            a_score = update_label_score(label=labels[row_index], letter_score=a_score)
        elif letter == "C":
            c_score = update_label_score(label=labels[row_index], letter_score=c_score)
        elif letter == "G":
            g_score = update_label_score(label=labels[row_index], letter_score=g_score)
        elif letter == "T":
            t_score = update_label_score(label=labels[row_index], letter_score=t_score)
    return a_score, c_score, g_score, t_score

In [73]:
def update_label_score(label, letter_score):
    TRUE_INDEX = 0
    FALSE_INDEX = 1
    if label == "1":
        letter_score[TRUE_INDEX] += 1
    else:
        letter_score[FALSE_INDEX] += 1
    return letter_score

In [81]:
x

      0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 label
0     A  G  T  A  C  C  G  G  T  G  C  C  C  A  T     0
1     C  A  G  C  C  T  G  G  T  G  T  G  C  T  T     0
2     C  A  T  A  A  A  G  G  T  A  A  A  T  C  A     1
3     A  G  C  T  G  G  T  G  T  G  G  G  A  G  G     0
4     A  A  T  T  T  C  T  G  T  T  T  T  A  A  T     0
...  .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..   ...
3936  G  A  G  G  A  A  G  G  T  A  C  T  T  A  A     1
3937  T  T  C  T  C  T  T  G  T  T  T  G  G  C  T     0
3938  A  G  T  G  T  G  G  G  T  G  G  C  T  G  C     0
3939  C  C  C  A  G  G  G  G  T  G  T  C  C  A  G     0
3940  G  T  T  C  C  C  A  G  T  T  T  T  T  C  A     0

[3941 rows x 16 columns]